{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% block content %}
	<article class="media content-section">
		<div class="media-body">
			<div class="article-metadata">
				<a class="mr-2" href="">{{ post.author.username }}</a>
				<small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
			</div>
			<h2><a class="article-title" href="">{{ post.title }}</a></h2>
			<p class="article-content">{{ post.content }}</p>
		</div>
	</article>
	{% if user.is_authenticated %}
		<form method="post" class="comment-form">
			{% csrf_token %}
		  {{comments_form|crispy}}
		  <input type="submit" class="btn btn-primary" value="Comment">
		</form>
		<ul class="comments">
		{% for comment in comments %}
			<li>
				<p class="content">{{comment.content|safe}}<span class="date"><small>  {{comment.date_posted |date:"F d, Y"}}</small></span>
					<span class="username"><small>,{{comment.user.username}}</small></span></p>
				{% for reply in replies %}
					{% if comment.id == reply.comment.id %}
					<p><strong>{{reply.user.username}}: </strong> {{reply.content}}</p>
					{% endif %}
				{% endfor %}
				<div class="row">
					<div class="col-sm-10">
						<input type="text" name="reply" id="{{comment.id}}" class="form-control reply">
						<p class="error text-danger"><strong>Reply cannot be empty</strong></p>
					</div>
					<div class="col-sm-2">
						<button class="btn btn-primary reply-btn">Reply</button>
					</div>
				</div>
			</li>
		{% endfor %}
		</ul>
	{% endif %}
{% endblock %}