{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% block content %}
	<article class="media content-section">
		<div class="media-body">
			<div class="article-metadata">
				<a class="mr-2" href="">{{ post.author.username }}</a>
				<small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
			</div>
			<h2><a class="article-title" href="">{{ post.title }}</a></h2>
			<p class="article-content">{{ post.content }}</p>
		</div>
	</article>
	{% if user.is_authenticated %}
		<form method="post" class="comment-form">
			{% csrf_token %}
		  {{comments_form|crispy}}
		  <input type="submit" class="btn btn-primary" value="Comment">
		</form>
		<ul>
		{% for comment in comments %}
			<li>
				<p>{{comment.content|safe}} <span><strong>{{comment.date_posted |date:"F d, Y"}}</span></strong><strong> Posted by:{{comment.user.username}}</strong></p>
			</li>
		{% endfor %}
		</ul>
	{% endif %}
{% endblock %}